*{
    margin: 0px;
    padding: 0px;
}
/*---------------------header start-----------------------*/
.header-container{
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.10);;
}
.header-floowers{
    width: 600px;
    height: 760px;
    margin-top: 40px;
    margin-left: 50px;
}
.header-text{
    font-size: 65px;
    font-weight: bold;
    padding: 30px;
}
.header-description{
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 25px;
}
.primary-btn{
    padding: 15px 30px;
    font-size: 21px;
    font-weight: bolder;
    border-radius: 25px;
    background-color: #e40c3b;
    color: white;
    border: none;
    margin-left: 30px;
}
.primary-btn:hover{
    color: white;
    background-color: black;
}
/*---------------------header end-----------------------*/
/*---------------------Featured Flowers  Start-----------------------*/
.fuater-flow{
    text-align: center;
    margin-top: 50px;
}
.fuater-hading{
    font-size: 30px;
    font-weight: bolder;
    padding: 20px;
}
.fuater-des{
    font-size: 20;
    font-weight: bolder;
    margin-bottom: 50px;
}


.feauter-contain{
    align-items: centero;
    width: 464px;
    height: 538px;
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 200px;
    
}
.flowers{
    height: 500px;
    width: 400px;
    margin-left: 20px;
    margin-top: 39px;
}
.futer-des{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-bottom: 50vh;
}
.feauter-container{
    display: flex;
    justify-content: space-around;
    margin-left: 75px;
    margin-right: 75px;
}
.background1{
    border-radius: 300px 300px 500x 200px;
    background-color: rgba(5, 151, 160, 0.15);
}
.background2{
    border-radius: 300px 300px 500x 200px;
    background-color: rgba(71, 125, 17, 0.15);
}
/*---------------------featured flowers  end-----------------------*/
/*---------------------service Start-----------------------*/
.session-main{
    width: 1440px;
    height: 320px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 250px;
    margin-bottom: 100px;
    
}
.session{
    text-align: center;
}
/*---------------------service end-----------------------*/
/*---------------------hot deal start-----------------------*/
.hot-deal-sassion{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(230, 102, 202, 0.10);
    margin-bottom: 80px;
}
.hading{
    color: rgb(238, 46, 46);
}
/*---------------------hot deal end-----------------------*/
/*---------------------socail media start-----------------------*/
.socail-media-text{
    text-align: center;
    padding-bottom: 60px;
}
.p-des{
    font-size: px;
    font-weight: bold;
    padding-top: 20px;
}

.img{
    display: flex;
    justify-content: space-around;
}
.socail-media{
   margin-left: 180px;
   margin-right: 180px;
   padding: 50px;
}
/*---------------------socail media end-----------------------*/
/*----------------------input start-----------------------*/
.input-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 449px;
    background-image: url("../img/Rectangle 9.png");
    background-size: cover;
    border-radius: 10px;
    margin-left: 230px;
    margin-bottom: 50px;
}
.email input[type="email"],  textarea{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    border-style: none;
    font-size: 16px;
    border: 0;
    padding-left: 25px;
}
/*----------------------input end-----------------------*/
/*----------------------footer start-----------------------*/
.footer{
    width: 1922px;
    height: 449px;
    background-color: rgb(49, 5, 75);
    color: white;
    text-align: center;
}
.foot-headdong{
    font-size: 60px;
    font-weight: bold;
    padding-top: 60px;
}
.foot-des{
    font-size: 18px;
    padding: 40px;
}